@import url('https://fonts.googleapis.com/css2?family=Caveat&family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap');

:root{
	/* Colores */
	--cPrincipal:#BA3B46;
	--cSecundario:#FF595E;
	--cTitulos:#12355B;
	--cEnfasis:#46B1C9;
	--cFondo:#FFEEDB;

	/* Fuentes */
	--texto:'EB Garamond', serif;
	--manuscrito:'Caveat', cursive;

	/*Tamaños*/
	--tHeader: 1.2rem;
	--tFooter: .8rem;
	--tManuscrito: 1.5rem;

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--cFondo);
	font-family: var(--texto); 
}

h2{
	color: var(--cPrincipal);
}

h3, .google{
	color: var(--cTitulos);
}

h4{
	color: var(--cSecundario);
}

	/*BARRA DE NAVEGACIÓN*/
.bg-nav{
	background-color: #000;
	font-size: var(--tHeader);
}

.navbar-brand img{
	height: 3.2rem;
	width: auto;
}

.nav-link{
	color: var(--cFondo) !important;
	transition: all 0.4s ease-out;
}

.nav-link:hover{
	color: var(--cSecundario) !important;
}

.nav-link img{
	height: 2rem;
	width: auto;
	padding-right: .4rem;
}

#activo{
	color: var(--cSecundario) !important;
}

#activo:hover{
	color: var(--cPrincipal) !important;
}

#pag1:hover{
	background-color: var(--cFondo);
	color: var(--cEnfasis) !important;
}

.dropdown-item{
	color: var(--cFondo) !important;
	transition: all 0.4s ease-out;
	font-size: 1.2rem;
}

.dropdown-item:hover{
	background-color: var(--cFondo);
	color: var(--cSecundario) !important;
}

.dropdown-menu{
	background-color: #000;
}


	/* FOOTER */
footer{
	background-color: #000;
	color: var(--cFondo);
}

footer ul{
	padding-top: .4rem;
}

footer p{
	font-size: var(--tFooter);
}

footer ul img{
	height: 1.5rem;
	width: auto;
	padding: 0 2rem;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-instagram{
	color: var(--cFondo);
	padding: 0 2rem;
}

.fa-facebook-square:hover, 
.fa-twitter-square:hover,
.fa-instagram:hover{
	color: var(--cEnfasis);
	transition: all 0.4s ease-out;
}

	/*INDEX*/

.index{
	background-image: url(..//recursos/generales/home.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
}

#fotografico{
	color: var(--cEnfasis);
}

	/*MAPA*/

#lista_mapa{
	color: var(--cEnfasis);
}

#lista_mapa i{
	color: var(--cTransport);
}

	/*DIARIO P1*/
.diariop1{
	background-image: url(..//recursos/generales/diario.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
}

	/*DIARIO*/
.manuscrito{
	font-family: var(--manuscrito);
	font-size: var(--tManuscrito);
}

.azul{
	color: var(--cEnfasis);
}

.marino{
	color: var(--cTitulos);
}

.rosa{
	color: var(--cPrincipal);
}

.velvet{
	color: var(--cSecundario);
}

.tam-let{
	font-size: 1.1rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){

}










